altgraph==0.12
ana==0.1
angr==4.6.6.16
angr-only-z3-custom==4.4.1.post3
archinfo==4.6.6.10
bintrees==2.0.4
cachetools==1.1.6
capstone==3.0.4
cffi==1.6.0
claripy==4.6.6.16
cle==4.6.5.27
cooldict==1.2
decorator==4.0.10
docutils==0.12
dpkt-fix==1.7
futures==3.0.5
idalink==0.11
mulpyplexer==0.7
networkx==1.11
plumbum==1.6.1.post0
progressbar==2.3
py==1.4.31
pycparser==2.14
pyelftools==0.23
pytest==2.9.1
pytest-benchmark==3.0.0
pyvex==4.6.5.27
rpyc==3.3.0
simuvex==4.6.6.16
statistics==1.0.3.5
-e git+git@github.com:unicorn-engine/unicorn.git@d92b37ed7df6770492a9d92cd7223b315f973089#egg=unicorn&subdirectory=bindings/python
-e git+https://github.com/williballenthin/vivisect@2d8be830b82b0c6fd74af1b164db43c47a52d5b6#egg=vivisect
